<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Item Catalog | API</title>
  <!--Bootstrap CSS File -->
  <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--Stylesheet CSS File -->
  <link type="text/css" href="/static/css/styles.css" rel = "stylesheet">
</head>
  <header>
    <nav class="navbar bg-light">
      <div class="container">
        <a class="navbar-brand">Category App</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="accessjson.html">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
          </li>
        </ul>
    </div>
    </nav>
    </header>
    <main>
      <div class="container">
      <br>
      <h4> Item Catalog implements JSON endpoints as provided below: </h4>
        <br>
        <h6>1. Items for a given category:</h6>
        <p class="text-primary">localhost:5000/categories/string:category_name/JSON</p>
        <p class="text-primary">For example : localhost:5000/categories/Books/JSON</p>
        <br>
        <h6>2. For a specific item:</h6>
        <p class="text-primary">localhost:5000/categories/string:category_name/string:item_name/JSON</p>
        <p class="text-primary">For example: localhost:5000/categories/Books/Da Vince Code/JSON</p>
    </div>
    </main>
  </body>
  </html>
