<html>
<head>
  <link type="text/css" href="../static/style.css" rel = "stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link type="text/css" href="../static/bootstrap.min.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

  <form action = "{{url_for('newCategory')}}" method="POST">
  <p> Category Name: </p>

  <input type = 'text' size = '30' name = 'name'>
  <input type = 'submit' value = 'Create'>

</form>
</body>
</html>
