<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{category.name}} Items | Catalog</title>
  <!--Bootstrap CSS File -->
  <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--Stylesheet CSS File -->
  <link type="text/css" href="/static/css/styles.css" rel = "stylesheet">
</head>
<body>
<header>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand text-dark">Category App</a>
      <a href="{{url_for('gdisconnect')}}" class="text-right text-dark">Logout</a>
    </div>
  </nav>
  <div class="container">
  <h1>Add New Item to {{category.name}}</h1>
  </div>
</header>
<main>
  <div class="container">
    <form action="{{url_for('newItem', category_name = category.name)}}" method = 'POST'>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Item Name" name ='name'>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Enter Item Description" name ='description'>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="Enter Item Price" name='price'>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="{{url_for('useritems', category_name = category.name)}}"><button type="button" class="btn btn-warning">Cancel</button></a>
    </form>
  </div>
</main>
</body>
</html>
