<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{item.name}} | {{category.name}}</title>
  <!--Bootstrap CSS File -->
  <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--Stylesheet CSS File -->
  <link type="text/css" href="/static/css/styles.css" rel = "stylesheet">
</head>
<body>
<header>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand text-dark">Category App</a>
      <a href="{{url_for('gdisconnect')}}" class="text-right text-dark">Logout</a>
    </div>
  </nav>
  <div class="container">
  <h1>{{ category.name }}</h1>
    <a href="{{url_for('useritems', category_name = category.name)}}"><button type="button" class="btn btn-primary">Back</button></a>
  </div>
</header>
<section>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
</section>
<main>
  <div class="container">
    <p>Item Name: {{ item.name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <a href="{{url_for('editItem', category_name = category.name, item_id = item.id)}}"><button type="button" class="btn btn-warning">Edit Item</button></a>
    <a href="{{url_for('deleteItem', category_name = category.name, item_id = item.id)}}"><button type="button" class="btn btn-danger">Delete Item</button></a>
    <br>
  </div>
</main>
</body>
</html>
