<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Items | {{category.name}}</title>
  <!--Bootstrap CSS File -->
  <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--Stylesheet CSS File -->
  <link type="text/css" href="/static/css/styles.css" rel = "stylesheet">
</head>
<body>
  <header>
    <nav class="navbar bg-light">
      <div class="container">
        <a class="navbar-brand">Category App</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('apiaccess')}}">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
          </li>
        </ul>
    </div>
    </nav>
    <div class="container">
      <a href="{{url_for('categories')}}"><button type="button" class="btn btn-primary">Back</button></a>
      <a href="{{url_for('newItem', category_name = category.name)}}"><button type="button" class="btn btn-success">Add Item</button></a>
    </div>
  </header>
  <section>
    <div class="container">
      <h1>{{ category.name }}</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </section>
  <main>
    <div class="container">
      {% for i in items %}
      <a href = "{{url_for('showItem', category_name = category.name, item_name = i.name)}}">{{ i.name }}</a>
      <br>
      {% endfor %}
      {% for i in p_items %}
      <a href = "{{url_for('showItem', category_name = category.name, item_name = i.name)}}">{{ i.name }}</a>
      <br>
      {% endfor %}
    </div>
  </main>
</body>
</html>
